h1 {
    text-align: center;
    color: #2f4f4f;
  }
  h2 {
    text-align: center;
    color: #2f4f4f;
  }
  h3 {
    text-align: center;
    color: #2f4f4f;
  }
  p {
    text-align: center;
    color: #008b8b;
  }
  p2 {
    text-align: left;
    color: #008b8b;
  }
  p3 {
    text-align: right;
    color: white;
  }
  ul {
    text-align: center;
    list-style-position: inside;
    color: #008b8b;
  }
  body {
    background-color: white;
  }
  a
  {
    text-decoration: none;
  }
  a:hover {
    color: black;
    text-decoration: underline;
  }
  a:active {
    color: blue;
    text-decoration: none;
  }
  .button {
    background-color: MediumSeaGreen;
    padding: 2px 6px 2px 6px;
    border-top: 1px solid #cccccc;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #cccccc;
    border-radius: 8px;
    margin-left :5px;
    text-decoration: none;
    font-size: 15px;
  }
  .img-container {
    text-align: center;
  }
  
  .header {
    padding: 10px;
    background-color: #1abc9c;
    color: white;
    margin: 0;
  }
  footer {
    padding: 10px;
      background-color: #1abc9c;
      color: white;
      margin: 0;
      position: absolute;
      
  }
  